In [5]:
import pandas as pd

data = pd.read_excel("randomdata.xlsx")

In [6]:
data.head()

        date  score  comments  retweets  likes  id
0 2023-01-20     -1       295       361  41422   1
1 2023-01-21      0       413        84  42108   2
2 2023-01-22      1      1391        40  29095   3
3 2023-01-23      1       673       248  30838   4
4 2023-01-24      1      1289       349  46770   5

In [7]:
len(data)

48

In [12]:
list = []
for i in range(len(data)):
    list.append(generate_sentence())

In [14]:
data["text"] = list

In [15]:
data.head(10)

,date,score,comments,retweets,likes,id,text
0,2023-01-20,-1,295,361,41422,1,The sad tree likes to jump.
1,2023-01-21,0,413,84,42108,2,The loud flower likes to swim.
2,2023-01-22,1,1391,40,29095,3,The slow house likes to write.
3,2023-01-23,1,673,248,30838,4,The sad dog likes to run.
4,2023-01-24,1,1289,349,46770,5,The sad cat likes to read.
5,2023-01-25,1,1463,214,950,6,The fast computer likes to study.
6,2023-01-26,0,485,126,41321,7,The quiet book likes to study.
7,2023-01-27,0,136,96,37670,8,The quiet computer likes to study.
8,2023-01-20,0,297,142,16338,9,The slow house likes to jump.
9,2023-01-21,1,480,375,6086,10,The fast house likes to swim.

In [16]:
data.to_csv('randomdata.csv')

In [8]:
import random

# List of possible words to use in the sentences
nouns = ['cat', 'dog', 'car', 'house', 'tree', 'flower', 'book', 'computer']
verbs = ['run', 'jump', 'swim', 'read', 'write', 'drive', 'play', 'study']
adjectives = ['happy', 'sad', 'big', 'small', 'fast', 'slow', 'loud', 'quiet']

# Function to generate a random sentence
def generate_sentence():
    # Randomly select a noun, verb, and adjective
    noun = random.choice(nouns)
    verb = random.choice(verbs)
    adjective = random.choice(adjectives)
    # Construct the sentence using the randomly selected words
    sentence = f'The {adjective} {noun} likes to {verb}.'
    return sentence

# Generate 49 sentences
for i in range(49):
    print(generate_sentence())

The quiet book likes to play.
The loud computer likes to run.
The slow tree likes to study.
The slow cat likes to drive.
The loud car likes to run.
The big car likes to drive.
The sad computer likes to drive.
The happy car likes to jump.
The small tree likes to study.
The quiet house likes to study.
The loud book likes to read.
The big flower likes to study.
The big car likes to study.
The quiet flower likes to study.
The loud book likes to study.
The happy computer likes to jump.
The fast dog likes to read.
The quiet house likes to swim.
The slow cat likes to study.
The big computer likes to play.
The slow house likes to drive.
The loud cat likes to write.
The happy book likes to run.
The happy computer likes to play.
The loud computer likes to study.
The fast computer likes to read.
The loud book likes to study.
The quiet book likes to read.
The fast computer likes to play.
The loud cat likes to swim.
The happy dog likes to play.
The loud house likes to swim.
The loud house likes to drive.
The small computer likes to play.
The fast flower likes to write.
The small house likes to drive.
The big book likes to run.
The quiet book likes to read.
The sad cat likes to play.
The loud computer likes to play.
The quiet book likes to run.
The fast dog likes to study.
The fast car likes to study.
The fast book likes to play.
The quiet book likes to read.
The slow tree likes to play.
The big car likes to drive.
The big flower likes to read.
The big dog likes to read.

In [17]:
df = pd.read_csv('randomdata.csv')
df.head(10)

,Unnamed: 0,date,score,comments,retweets,likes,id,text
0,0,2023-01-20,-1,295,361,41422,1,The sad tree likes to jump.
1,1,2023-01-21,0,413,84,42108,2,The loud flower likes to swim.
2,2,2023-01-22,1,1391,40,29095,3,The slow house likes to write.
3,3,2023-01-23,1,673,248,30838,4,The sad dog likes to run.
4,4,2023-01-24,1,1289,349,46770,5,The sad cat likes to read.
5,5,2023-01-25,1,1463,214,950,6,The fast computer likes to study.
6,6,2023-01-26,0,485,126,41321,7,The quiet book likes to study.
7,7,2023-01-27,0,136,96,37670,8,The quiet computer likes to study.
8,8,2023-01-20,0,297,142,16338,9,The slow house likes to jump.
9,9,2023-01-21,1,480,375,6086,10,The fast house likes to swim.

In [19]:
from datetime import datetime

In [21]:
df["date"] = pd.to_datetime(df["date"])

In [ ]:
df.head